.App {
  display: grid;
  grid-template-areas: "h h" "t c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  border-radius: 30px;
  box-shadow: 0px 4px 40px #8ca4d8;
  width: 1374px;
  height: 825px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  padding: 40px;
}
