.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 1088px;
    margin-top: 40px;
    border-top: 2px solid #E5E5E5;
    padding-top: 10px;
    margin-bottom: 37px;
}

.footer__link-blog {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.footer__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-size: 12px;
    list-style-type: none;
    color: #34ACA7;
}

.footer__link li {
    margin-right: 5px;
}

.footer__link li::after {
    content: '|';
    padding: 0;
    position: absolute;
    margin-top: -15px;
    margin-left: -4px;
    color: #e5e5e5;
}

.footer__link li:first-child::after {
    content: none;
}

.footer__text {
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.02em;
    color: #E5E5E5;
}

.social {
    display: flex;
    margin-right: 5px;
}

.social__img {
    margin-left: 5px;
    width: 32px;
    height: 32px;
}

.twitter-gray {
    background: url('../img/twitter-icon-gray.svg');
}

.fb {
    background: url('../img/fb-icon.svg');
}

.rss {
    background: url('../img/rss-icon.svg');
}