.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 1088px;
    margin-top: 40px;
    border-top: 2px solid #E5E5E5;
}

.footer__information {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.footer__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}

.footer__link a {
    margin-right: 5px;
    font-style: normal;
    font-size: 12px;
    color: #34ACA7;
}

.footer__link li::after {
    content: '|';
    padding: 0;
    position: absolute;
    margin-left: -4px;
    color: #e5e5e5;
}

.footer__link li:last-child::after {
    content: none;
}

.footer__copyright {
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.02em;
    color: #E5E5E5;
}

.social {
    display: flex;
    margin-right: 5px;
}

.social .footer__link {
    margin-top: 10px;
}

.social__img {
    margin-left: 5px;
    width: 32px;
    height: 32px;
}

.twitter-gray {
    background: url('../img/twitter-icon-gray.svg');
}

.fb {
    background: url('../img/fb-icon.svg');
}

.rss {
    background: url('../img/rss-icon.svg');
}

.social .footer__link li::after {
    content: none;
}