@media (max-width: 480px) {
    .container {
        width: 480px;
        .header {
            width: 480px;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            .logo {
                margin-top: 20px;
            }
            .menu {
                margin-left: 0;
            }
        }
        .main {
            margin: 0;
            width: 480px;
            .baner {
                width: 480px;
                min-height: 370px;
                background-size: 110% 100%;
            }
            .subscribe__description {
                width: 366px;
                margin-right: 47px;
            }
            .subscribe__form {
                width: 350px;
                .input__email {
                    width: 211px;
                    margin-right: 56px;
                }
            }
            
            .cards {
                justify-content: center;
                &__item {
                    width: 375px;
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &__img {
                        height: 200px;
                    }
                    &__body__description {
                        min-height: auto;
                    }
                }
            }
        }
    }
}