@import "media_mixin";

.header {
    width: 140px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    @include _1176 {
        margin-right: 40px;
    }
    @include _992 {
        flex-direction: row;
        width: 100%;
        margin-right: 0;
        justify-content: space-between;
        padding: 20px 0;
    }
    @include _768 {
        width: auto;
        margin-bottom: 20px;
    }
    @include _480 {
        width: 480px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: 120px;
        height: 120px;
        margin-left: 10px;
        margin-right: 10px;
        background: url("../img/icon-logo.svg");

        @include _992 {
            margin: 0;
        }

        @include _480 {
            margin-top: 20px;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-top: 5px;

        @include _992 {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 500px;
            margin-top: 0;
        }

        @include _768 {
            width: 425px;
            height: auto;
            padding: 0;
            margin-left: 10px;
            justify-content: space-between;
        }

        @include _480 {
            margin-left: 0;
        }

        &__item {
            display: flex;
            margin-bottom: 30px;
            flex-direction: row;

            @include _992 {
                margin-bottom: 0;
                width: 100px;
                justify-content: center;
            }

            @include _768 {
                width: auto;
                margin: 0;
            }

            &-link {
                font-size: 14px;
                color: $colorLink;
                display: flex;
                align-items: center;

                @include _992 {
                    flex-direction: column;
                }
            }
            &-link::before {
                content: "";
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                background-position: center;
                margin-right: 15px;

                @include _992 {
                    margin-right: 0;
                    margin-bottom: 10px;
                }

                @include _768 {
                    content: none;
                }
            }
            @each $icon in tastemakers, blog, a-list, camera, about {
                &-link--#{$icon}::before {
                    background: url("../img/#{$icon}-icon.svg") no-repeat;
                }
            }
        }
        &__item:hover {
            background-color: $colorHover;
        }
    }

    .tweet {
        display: flex;
        flex-direction: column;

        @include _992 {
            display: none;
        }

        &__item {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            &__title {
                font-family: Verdana;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                margin: 0;
                padding: 0;
                border-bottom: 1px dashed $colorBorder;
                padding-bottom: 5px;
            }
            &__description {
                font-size: 10px;
                line-height: 19px;
            }
            &__btn {
                border: 1px solid $colorBorder;
                border-radius: 5px;
                margin-top: 10px;
                height: 30px;
                display: flex;
                align-content: center;
                align-items: center;
                &_link {
                    font-size: 10px;
                    color: $colorLink;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
                &:last-child {
                    margin-top: 15px;
                }
                &:hover {
                    background-color: $colorHover;
                }
            }
            &:last-child {
                margin-top: 10px;
            }
            &__link-img {
                height: 16px;
                width: 16px;
                margin-right: 5px;
                margin-left: 5px;
                background: url("../img/twitter-icon.svg");
            }
        }
    }
}
