.main {
    display: flex;
    flex-direction: column;
    width: 896px;
    .baner {
        display: flex;
        background: url("../img/baner-bg.jpg") no-repeat;
        background-size: cover;
        min-height: 445px;
        &__item {
            display: flex;
            flex-direction: column;
            width: 487px;
            margin-top: 285px;
            &__title,
            &__description {
                display: flex;
                justify-content: start;
                padding: 10px 0 10px 10px;
            }
            &__title {
                background: $colorWhite;
                font-size: 22px;
                width: 272px;
            }
            
            &__description {
                background: $colorBlack;
                color: $colorWhite;
                font-size: 14px;
            }
        }
    }
    .tabs {
        display: flex;
        justify-content: space-between;
        background: #eff8f7;
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            width: 224px;
            color: $colorLink;
            &__title {
                font-style: normal;
                font-size: 18px;
            }
            
            &__description {
                font-size: 10px;
            }
        }
        
        &__item:hover {
            background: $colorHover;
        }
    }
    .subscribe {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dashed $colorBorder;
        border-top: 1px dashed $colorBorder;
        margin-top: 30px;
        &__mail__img {
            padding: 0;
            width: 32px;
            height: 26px;
            background: url("../img/mail-icon.svg");
        }
        &__description {
            width: 530px;
        }
        &__form {
            display: flex;
            flex-direction: row;
            .input__email {
                width: 160px;
                height: 22px;
                font-size: 10px;
                padding-left: 5px;
                margin-right: 10px;
                border: 1px solid $colorBorder;
            }
            
            .btn__subscribe {
                width: 80px;
                height: 23px;
                background: linear-gradient(180deg, #f4f3f3 0%, #bbb9b9 100%);
                border: 1px solid $colorBorder;
                border-radius: 2px;
                font-size: 10px;
                font-style: normal;
            }
        }
    }
    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 30px;
        &__item {
            display: flex;
            flex-direction: column;
            width: 210px;
            margin-top: 10px;
            &__img {
                height: 143px;
                border: 11px solid $colorWhite;
                box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
            }
            &__body {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 10px;
                &__title {
                    font-size: 16px;
                    line-height: 21px;
                    letter-spacing: -0.02em;
                    font-style: normal;
                    color: $colorLink;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &__description {
                    margin-top: 10px;
                    font-style: normal;
                    color: $colorBlack;
                }
            }
            &__footer {
                display: flex;
                justify-content: start;
                margin-top: 10px;
                &__date {
                    margin-right: 5px;
                    color: $colorBorder;
                    &::after {
                        content: "/";
                        margin-left: 5px;
                    }
                }
                &__link__read-more {
                    color: $colorLink;
                    font-style: normal;
                    &::after {
                        content: "...";
                        position: absolute;
                        background-color: $colorWhite;
                    }
                    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

/* baner */

/* tabs */

/* subscribe */

/* cards */
