@media (max-width: 992px) {
    .container {
        width: 716px;
        margin-top: 0;
        .header {
            flex-direction: row;
            width: 100%;
            margin-right: 0;
            justify-content: space-between;
            padding: 20px 0;
            .logo {
                margin: 0;
            }
            .menu {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                width: 500px;
                margin-top: 0;
                &__item {
                    margin-bottom: 0;
                    width: 100px;
                    justify-content: center;
                    &-link {
                        flex-direction: column;
                        &::before {
                            margin-right: 0;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            .tweet {
                display: none;
            }
        }
        .main {
            width: 716px;
        }
    }
    

}