* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.wrap {
    height: auto;
}

a {
    text-decoration: none;
}

.container {
    width: 1088px;
    height: 1130px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
}

/* aside-container */

.menu {
    width: 140px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.text {
    font-style: italic;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.logo {
    width: 120px;
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
}

.menu__blog {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 330px;
    margin-top: 5px;
}

.menu__item {
    height: 30px;
    display: flex;
    margin-bottom: 30px;
    flex-direction: row;
    align-items: center;
}

.menu__item:hover {
    background-color: #D9EFEC;
}

.menu__item-img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.menu__item-a {
    font-size: 14px;
    color: #34ACA7;
}

.menu__tweet {
    display: flex;
    flex-direction: column;
}

.tweet__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.border__bottom {
    width: 140px;
    border-bottom: 1px dashed #E5E5E5;
    padding-bottom: 5px;
}

.tweet__title {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.tweet__title:last-child {
    margin-top: 5px;
}

.tweet__btn {
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    margin-top: 10px;
    height: 30px;
    display: flex;
    align-content: center;
    align-items: center;
}

.tweet__btn:last-child {
    margin-top: 15px;
}

.tweet__btn:hover {
    background-color: #D9EFEC;
}

.tweet__item-img {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    margin-left: 5px;
}

.tweet__item-a {
    font-size: 10px;
    color: #34ACA7;
}

.tweet__text {
    font-size: 10px;
    line-height: 19px;
}

/* main */

.main__container {
    display: flex;
    flex-direction: column;
    width: 896px;
    height: 996px;
}

/* banner */

.baner__blog {
    display: flex;
    height: 445px;
    background: #34ACA7 url('img/d16260e3ad773c4a7099a138f5c9ed88.jpg') no-repeat;
    background-size: cover;
}

.baner__text {
    display: flex;
    flex-direction: column;
    width: 487px;
    margin-top: 285px;
    margin-bottom: 70px;
}

.baner__title {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 272px;
    height: 47px;
    background: #FFFFFF;
    font-size: 22px;
}

.baner__description {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    height: 42px;
    background: #000000;
    color: #FFFFFF;
    font-size: 14px;
}

/* tabs */

.tabs {
    display: flex;
    justify-content: start;
    padding: 0;
    background: #EFF8F7;
    height: 85px;
}

.tabs__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    width: 224px;
    color: #34ACA7;
}

.tabs__item:hover {
    background: #D9EFEC;
}

.tabs__title {
    font-style: normal;
    font-size: 18px;
}

.tabs__description {
    font-size: 10px;
}

/* subscribe */

.subscribe__blog {
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding-top: 10px;
    border-bottom: 1px dashed #E5E5E5;
    border-top: 1px dashed #E5E5E5;
    margin-top: 30px;
    height: 51px;
}

.mail__img {
    padding: 0;
    margin: 0;
    width: 32px;
    height: 26px;
}

.subscribe__text {
    font-size: 14px;
    line-height: 16px;
    width: 530px;
}

.input__email {
    width: 160px;
    height: 22px;
    font-size: 10px;
    padding-left: 5px;
    border: 1px solid #E5E5E5;
}

.btn__subscribe {
    width: 80px;
    height: 23px;
    background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    font-size: 10px;
    font-style: normal;
}

/* cards */


.cards__blog {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 371px;
    
}

.cards__item {
    display: flex;
    flex-direction: column;
    margin-right: 18px;
}

.cards__item:hover {
    background: #D9EFEC;
    transition: 0.5s;
}

.cards__item:last-child {
    margin-left: 4px;
}

.card__img {
    width: 207px;
    height: 143px;
    border: 11px solid #FFFFFF;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.card__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.card__title {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    font-style: normal;
    height: 42px;
    color: #34ACA7;
}

.card__description {
    margin-top: 10px;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000;
}

.card__date {
    display: flex;
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #E5E5E5;
}

.text__read {
    color: #34ACA7;
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 1088px;
    margin-top: 40px;
    border-top: 2px solid #E5E5E5;
}

.footer__a-blog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 220px;
    height: 30px;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.footer__a {
    font-style: normal;
    font-size: 12px;
    letter-spacing: -0.02em;
    color: #34ACA7;
}

.line {
    font-size: 12px;
    line-height: 12px;
    color: #E5E5E5;
    padding-left: 2px;
    padding-right: 2px;
}

.footer__text {
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.02em;
    color: #E5E5E5;
}

.social {
    display: flex;
    margin-right: 5px;
}

.social__img {
    margin-left: 5px;
}