.search {
    margin-left: 20px;
    width: 231px;
    padding-right: 5px;
    text-align: right;
    font-size: 12px;
    border: none;
    background: url("./../../../assets/img/search.svg") no-repeat;
}
