@media (max-width: 480px) {
    .container {
        width: 480px;
    }

    .header {
        width: 480px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .logo {
        margin-top: 20px;
    }

    .main {
        margin: 0;
        width: 480px;
    }

    .baner {
        width: 480px;
        min-height: 370px;
        background-size: 110% 100%;
    }

    .subscribe__text {
        width: 366px;
        margin-right: 47px;
    }

    .input__email {
        width: 211px;
        margin-right: 56px;
    }

    .cards {
        justify-content: center;
    }

    .cards__item {
        width: 375px;
        margin-bottom: 30px;
    }

    .cards__item:last-child {
        margin-bottom: 0;
    }

    .card__img {
        height: 200px;
    }

    .card__description {
        min-height: auto;
    }
}