@media (max-width: 768px) {
    .container {
        width: 560px;
    }

    .header {
        width: auto;
        margin-bottom: 20px;
    }

    .menu {
        width: 432px;
        height: auto;
        padding: 0;
        margin-right: 0;
        margin-left: 5px;
        justify-content: space-between;
        
    }

    .menu__item {
        width: auto;
        margin: 0;
    }

    .menu__item-img {
        display: none;
    }

    .main {
        width: 100%;
        margin: 0 10px;
    }

    .baner {
        flex-direction: column-reverse;
        background-size: 100% 100%;
        min-height: 353px;
    }

    .baner__text {
        margin-top: 0;
        width: auto;
    }

    .baner__title {
        width: auto;
        opacity: 0.5;
    }

    .tabs {
        display: none;
    }

    .subscribe {
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 18px;
    }


    .subscribe__text {
        width: 475px;
    }

    .input__email {
        width: 395px;
        margin-right: 36px;
    }

    .cards {
        margin-top: 25px;
    }

    .cards__item {
        width: 256px;
        justify-content: start;
        margin-bottom: 15px;
    }

    .card__img {
        height: 150px;
    }

    .card__description {
        min-height: 135px;
    }

}